In [1]:
import datetime
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/root/programming/factors_final.csv')

In [3]:
df = df.drop(columns='Unnamed: 0')

In [4]:
industry_factors = df.iloc[:, np.r_[0:2, 19:df.shape[1]] ]
style_factors = df.iloc[:, np.r_[0:19]]

In [5]:
industry_factors.head()

,date,order_book_id,交通运输,传媒,农林牧渔,医药,商贸零售,国防军工,基础化工,家电,...,纺织服装,综合,综合金融,计算机,轻工制造,通信,钢铁,银行,非银行金融,食品饮料
0,2020-01-02,000001.XSHE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2020-01-02,000002.XSHE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-02,000004.XSHE,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2020-01-02,000005.XSHE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2020-01-02,000006.XSHE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
style_factors.head()

,date,order_book_id,liquidity,leverage,earnings_variability,earnings_quality,profitability,investment_quality,book_to_price,earnings_yield,longterm_reversal,growth,momentum,mid_cap,size,beta,residual_volatility,dividend_yield,comovement
0,2020-01-02,000001.XSHE,-0.152783,0.596283,-0.789910,0.101090,-0.973793,0.242972,0.392318,0.458898,-0.438933,-0.063954,0.770695,-0.440595,1.106963,0.264908,-0.167170,-0.768514,1
1,2020-01-02,000002.XSHE,0.239407,2.115915,-0.206950,-1.507336,-0.681712,-0.336925,0.274844,1.687919,-0.688550,0.724792,0.123780,-0.440595,1.106963,0.079294,-0.181883,1.144003,1
2,2020-01-02,000004.XSHE,1.218489,-1.665145,2.016727,-2.027340,2.360977,0.745538,-1.553385,-1.680133,1.192606,0.756928,0.088402,-2.061897,-2.930919,-1.071659,1.271942,-1.480961,1
3,2020-01-02,000005.XSHE,0.679782,-0.815294,2.099449,0.037333,-0.815462,1.376358,-0.453345,-0.233031,1.273257,2.050047,-0.681521,-0.207769,-2.360803,0.885803,-0.206836,-1.480961,1
4,2020-01-02,000006.XSHE,0.226186,0.792126,-0.438625,0.878233,-0.606965,0.351754,0.652954,1.581877,1.049748,0.087438,-0.797181,0.908552,-1.578540,0.632979,-0.838627,1.459535,1

In [ ]:
rets = pd.read_csv('/root/programming/rets.csv')
mcaps = pd.read_csv('/root/programming/mcaps.csv')
rets, mcaps = rets.drop(columns='Unnamed: 0'), mcaps.drop(columns='Unnamed: 0')

In [8]:
from pipeline import *

In [ ]:
portfolio = pd.read_csv('/root/programming/all_weight_atr.csv')
portfolio = portfolio.rename(columns={'Unnamed: 0': 'date'})
portfolio['date'] = pd.to_datetime(portfolio['date'].astype(str), format='%Y%m%d')
portfolio.head()

,date,000005.SZ,600656.SH,600601.SH,600602.SH,600654.SH,600652.SH,600651.SH,600653.SH,000004.SZ,...,Unnamed: 5491,Unnamed: 5492,Unnamed: 5493,Unnamed: 5494,Unnamed: 5495,Unnamed: 5496,Unnamed: 5497,Unnamed: 5498,Unnamed: 5499,Unnamed: 5500
0,2014-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014-01-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd

def filter_df_by_date(df: pd.DataFrame, min_date, date_col: str = "date") -> pd.DataFrame:
    d = pd.to_datetime(min_date)
    c = df[date_col]
    if not pd.api.types.is_datetime64_any_dtype(c):
        c = pd.to_datetime(c, errors="coerce")
    res = df.loc[c > d].copy()
    return res.reset_index(drop=True)

In [ ]:
style = filter_df_by_date(style_factors, pd.to_datetime('20231001'))
industry = filter_df_by_date(industry_factors, pd.to_datetime('20231001'))
mcaps = filter_df_by_date(mcaps, pd.to_datetime('20231001'))
rets = filter_df_by_date(rets, pd.to_datetime('20231001'))
portfolio = filter_df_by_date(portfolio, pd.to_datetime('20231001'))

In [ ]:
series = run_barra_from_dfs(
    df_factors=style,
    df_industry=industry,     
    df_returns=rets,
    df_pw_wide=portfolio,             
    df_bw_wide=None,                 
    df_mcap=mcaps,
    date_col='date',
    code_col='order_book_id',
    out_path='/root/programming/outputs',
    no_benchmark=True                
)